<% provide(:title, "Home") %>

<div class="container" id="home-container"> 
    <div class="jumbotron text-center">
        <h1 class="display-4 bg-dark" style="color:white ">The Salvage Yard</h1>
        <p class="lead bg-dark" style="color:white">Leading provider of salvaged goods and materials</p>
        <hr class="my-4" style="color:white">
        <%= link_to "Sign up", signup_path, class: "btn btn-secondary btn-lg" %>
        <p class="mt-4" style="color:white">by Luke Coghlan</p>
    </div>
</div>

<%=render 'layouts/categories'%>
