<% provide(:title, "Mail Us") %>

<div class="container">
    <h1 style= "text-align: center;">Thanks you for contacting us</h1>
    
    <div>
        
        <p>We will respond as soon as possible</p>
        
    </div>
    
</div>