<div class="container">
  <br>
  <h1>Our Stock Categories</h1>
  <br>
  <div class="row">
    <% @categories.each do |category| %>
    
        <div class="col-lg-4 d-flex align-items-stretch">
    
          <div class="card w-100">
            <%= link_to (image_tag category.image, class: "card-img-top"), category %>
            <div class="card-body">
              <h5 class="card-title"><%= category.title %></h5>
              <p class="card-text"><%= category.description %></p>
              <a href="/category/<%= category.title %>" class="btn btn-outline-primary">Show</a>
            </div>
            
          </div>
        </div>
    <% end %>

  </div>
</div>
